<footer>
  <p>Year: <%= this_year %></p>
  <p>Author: Pavel-Devel</p>
  <p>Project name: <%= github_url('Pavel-devel', 'TestGuru--TN') %></p>
  <p><a href="https://thinknetica.com " target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>
